@import './mediaQuery';

* {
    box-sizing: border-box;
}

.card {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.home {
    height: 90vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;

        @include mobile {
            width: 0px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;

        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}

.v-navigation-drawer__content::-webkit-scrollbar {
    width: 0px;
}